@import "../../styles/colors.scss";

.newBoardModal-container {
  .modalContent {
    width: 540px;
  }

  .modalContent .title {
    width: fit-content;
    text-align: center;
    margin: 0 auto 24px;
  }

  .button-div {
    gap: 40px;
    margin: auto !important;
    width: fit-content;

    button {
      padding: 0 24px;
      height: 40px;
      color: $color-white-blue;
    }

    button:first-child {
      background-color: $color-blue;
    }

    button:last-child {
      background-color: $color-red;
    }
  }

  .message {
    margin-top: 20px;
    text-align: center;
  }
}
