@import "../../styles/colors.scss";

.error-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  button {
    display: block;
    margin: 40px auto 0;
    padding: 10px;
    background-color: $color-blue-gray;
    color: $color-white;
  }
}
